.logo {
  background-color: #333;
}

.content {
  font-size: 18px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 75px;
  margin-left: 75px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.blogContent{
  font-size: 18px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 75px;
  margin-left: 75px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.blogPosts{
  font-size: 18px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 75px;
  margin-left: 75px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.aboutMe {
  font-size: 18px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 75px;
  margin-left: 75px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.contact {
  font-size: 18px;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 75px;
  margin-left: 75px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.content:first-letter {
  font-size: 400%;
  border-left: 5px solid black;
  border-left-style: double;
  border-top: 5px solid black;
  border-top-style: double;
  border-radius: 5px;
  padding-left: 5px;
}

.end{
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding-bottom: 25px;
}

body {
  margin: 0;
  font-size: 18px;
  background: linear-gradient(#999, #fff);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
